*{
	box-sizing: border-box;
}
[class*="col-"]{
	float: left;
	height: 70px;
	border: 2px solid red;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;

}
.col-3{
	width: 24.99%;
}
.col-4{
	width: 33.32%;
}
.col-5{
	width: 41.65%;
}
.col-6{
	width: 49.98%;
}
.col-7{
	width: 58.31%;
}
.col-8{
	width: 66.64%;
}
.col-9{
	width: 74.97%;
}
.col-10{
	width: 83.3%;
}
.col-11{
	width: 91.63%;
}
.col-12{
	width: 99.96%;
}

@media only screen and (min-width: 360px) and (max-width: 760px){
	[class*="col-"]{
		float: left;
		height: 70px;
		border: 2px solid green;
	}
	.col-1-sd{
		width: 100%;
	}
	.col-2-sd{
		width: 100%;
	}
	.col-3-sd{
		width: 100%;
	}
	.col-4-sd{
		width: 100%;
	}
	.col-5-sd{
		width: 100%;
	}
	.col-6-sd{
		width: 100%;
	}
	.col-7-sd{
		width: 100%;
	}
	.col-8-sd{
		width: 100%;
	}
	.col-9-sd{
		width: 100%;
	}
	.col-10-sd{
		width: 100%;
	}
	.col-11-sd{
		width: 100%;
	}
	.col-12-sd{
		width: 100%;
	}
}
